@keyframes container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rainbow {
  to {
    background-position: 0 100vh;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    bottom: 10px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes up-down {
  0% {
    opacity: 0;
    bottom: 10px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes down-up {
  0% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bar {
  .logo {
    animation-name: logo;

    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: relative;

    .rainbow {
      background-image: linear-gradient(
        to bottom,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: rainbow 35s linear infinite;
    }
  }

  .button-group {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
}

.container {
  animation-name: container;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.hero,
.hero-prop,
.hero-sbn {
  animation-name: background;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  .overlay {
    animation-name: container;

    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;

    .title {
      position: relative;
      animation-name: up-down;
      animation-duration: 0.8s;
      animation-timing-function: ease-in-out;
    }

    .subtitle {
      position: relative;
      animation-name: down-up;
      animation-duration: 0.8s;
      animation-timing-function: ease-in-out;
    }

    .button-group {
      animation-name: fade-in;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }
}
