.art-sbn-group {
  display: grid;
  grid-template-areas:
    'art-index-1'
    'art-index-2';
  row-gap: 0.625rem;
  padding: 0 1.875rem;
  margin-bottom: 1.875rem;

  @media (min-width: 48rem) {
    row-gap: 2.5rem;
  }

  .art-1 {
    grid-area: art-index-1;
    display: grid;
    grid-template-areas:
      'art-img'
      'text-group';
    row-gap: 0.625rem;
    justify-items: center;

    @media (min-width: 48rem) {
      grid-template-areas: 'art-img text-group';
      column-gap: 20px;
    }

    .art-img {
      grid-area: art-img;
      width: 80vw;
      height: 50vh;
      background-image: url('../public/cawslogo.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 20px;
      align-self: center;

      @media (min-width: 48rem) {
        width: 40vw;
        height: 100%;
      }

      @media (min-width: 62rem) {
        min-width: 40vw;
        height: 40vh;
      }

      @media (min-width: 1025px) {
        width: 400px;
        height: 615px;
      }
    }

    .chapa {
      background-image: url('../public/chapa.png');
      width: 50vw;
      height: 30vh;
      background-size: contain;

      @media (min-width: 62rem) {
        width: 30vw;
        height: 30vh;
      }

      @media (min-width: 1025px) {
        width: 200px;
        height: 315px;
        border-radius: 100%;
      }
    }
    .arthur {
      background-image: url('../public/arthur.jpeg');
    }
    .mauricio {
      background-image: url('../public/mauricio.jpeg');
    }
    .patrick {
      background-image: url('../public/patrick.jpeg');
    }
    .ivo {
      background-image: url('../public/ivo.jpeg');
    }

    .text-group {
      grid-area: text-group;
      display: grid;
      grid-template-areas:
        'art-title'
        'art-subtitle'
        'art-text';
      row-gap: 0.625rem;

      @media (min-width: 62rem) {
        width: 40vw;
        min-height: 40vh;
        align-content: flex-start;
      }

      .art-title {
        grid-area: art-title;
        font-weight: 600;

        @media (min-width: 62rem) {
          font-size: 1.875rem;
        }
      }

      .art-subtitle {
        grid-area: art-subtitle;
        font-size: 1rem;
        font-weight: 300;
      }

      .art-text {
        grid-area: art-text;
        font-weight: 400;

        .bold {
          font-weight: 600;
        }

        @media (min-width: 62rem) {
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
  }

  .art-2 {
    grid-area: art-index-2;
    display: grid;
    grid-template-areas:
      'art-img'
      'text-group';
    row-gap: 0.625rem;
    justify-items: center;
    margin-bottom: 0.625rem;

    @media (min-width: 48rem) {
      grid-template-areas: ' text-group art-img';
      column-gap: 20px;
    }

    .art-img {
      grid-area: art-img;
      width: 80vw;
      height: 50vh;
      background-image: url('../public/caws.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      align-self: center;

      @media (min-width: 48rem) {
        width: 40vw;
        height: 100%;
      }

      @media (min-width: 62rem) {
        min-width: 40vw;
        height: 40vh;
      }

      @media (min-width: 1025px) {
        width: 400px;
        height: 615px;
      }

      //   @media (min-width: 412px) {
      //     background-size: contain;
      //   }
    }

    .natasha {
      background-image: url('../public/natasha.jpeg');
    }
    .galeano {
      background-image: url('../public/galeano.jpeg');
    }
    .felipe {
      background-image: url('../public/felipe.jpeg');
    }
    .alice {
      background-image: url('../public/alice.jpeg');
    }
    .julya {
      background-image: url('../public/julya.jpeg');
    }

    .text-group {
      grid-area: text-group;
      display: grid;
      grid-template-areas:
        'art-title'
        'art-subtitle'
        'art-text';
      row-gap: 0.625rem;

      @media (min-width: 62rem) {
        width: 40vw;
        min-height: 40vh;
        align-content: flex-start;
      }

      .art-title {
        grid-area: art-title;
        font-weight: 600;

        @media (min-width: 62rem) {
          font-size: 1.875rem;
        }
      }

      .art-subtitle {
        grid-area: art-subtitle;
        font-size: 1rem;
        font-weight: 300;
      }

      .art-text {
        grid-area: art-text;
        font-weight: 400;

        @media (min-width: 62rem) {
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
  }
}

// .art-sbn-group {
//   display: grid;
//   grid-template-areas:
//     'art1'
//     'art2';

//   @media screen and (max-width: 62rem) {
//     row-gap: 2.5rem;
//   }

//   @media screen and (max-width: 48rem) {
//     row-gap: 0.625rem;
//   }

//   @media screen and (max-width: 375px) {
//     margin-top: 80px;
//   }

//   @media screen and (max-width: 360px) {
//     margin-top: 20px;
//   }

//   .art-1 {
//     grid-area: art1;
//     display: grid;
//     grid-template-areas: 'img text-group';
//     margin-top: 2.5rem;
//     margin-left: 42px;
//     margin-right: 42px;
//     align-items: stretch;
//     column-gap: 20px;

//     @media screen and (max-width: 62rem) {
//       grid-template-areas:
//         'img'
//         'text-group';

//       row-gap: 20px;
//       justify-content: center;
//     }

//     @media screen and (max-width: 48rem) {
//       margin-left: 0;
//       margin-right: 0;
//     }

//     .text-group {
//       grid-area: text-group;

//       grid-template-areas:
//         'art-title'
//         'art-text';

//       .art-title {
//         grid-area: art-title;
//         margin: 0;
//         font-size: 2.5rem;
//         color: #424242;
//         font-weight: 700;

//         @media screen and (max-width: 1200px) {
//           font-size: 35px;
//         }

//         @media screen and (max-width: 62rem) {
//           font-size: 1.875rem;
//         }

//         @media screen and (max-width: 48rem) {
//           font-size: 25px;
//         }
//       }

//       .art-subtitle {
//         color: #424242;
//         font-weight: 300;
//         margin-top: 5px;

//         @media screen and (max-width: 62rem) {
//           max-width: 300px;
//           font-size: 1rem;
//         }
//       }

//       .art-text {
//         margin: 0;
//         margin-top: 2.5rem;
//         grid-area: art-text;
//         text-align: justify;
//         font-size: 20px;
//         color: #424242;
//         max-width: 500px;

//         @media screen and (max-width: 1200px) {
//           font-size: 18px;
//         }

//         @media screen and (max-width: 62rem) {
//           font-size: 1rem;
//           margin-top: 20px;
//         }
//       }
//     }

//     .art-img {
//       width: 500px;
//       max-height: 615px;
//       border-radius: 20px;
//       justify-self: start;

//       @media screen and (max-width: 1200px) {
//         justify-self: center;
//         width: 400px;
//         max-height: 515px;
//       }

//       @media screen and (max-width: 62rem) {
//         justify-self: center;
//         width: 300px;
//         max-height: 415px;
//       }

//       @media screen and (max-width: 48rem) {
//         justify-self: center;
//         width: 200px;
//         max-height: 315px;
//       }
//     }
//   }
//   .art-2 {
//     grid-area: art2;
//     display: grid;
//     grid-template-areas: 'text-group img';
//     justify-items: stretch;
//     margin-left: 42px;
//     margin-right: 42px;
//     column-gap: 20px;
//     margin-top: 2.5rem;

//     @media screen and (max-width: 62rem) {
//       grid-template-areas:
//         'img'
//         'text-group';

//       row-gap: 20px;
//       justify-content: center;
//     }

//     @media screen and (max-width: 48rem) {
//       margin-left: 0;
//       margin-right: 0;
//     }

//     .text-group {
//       grid-area: text-group;
//       justify-self: start;
//       grid-template-areas:
//         'art-title'
//         'art-text';

//       .art-title {
//         grid-area: art-title;
//         margin: 0;
//         font-size: 2.5rem;
//         color: #424242;
//         font-weight: 700;

//         @media screen and (max-width: 1200px) {
//           font-size: 35px;
//         }

//         @media screen and (max-width: 62rem) {
//           font-size: 1.875rem;
//         }

//         @media screen and (max-width: 48rem) {
//           font-size: 25px;
//         }
//       }

//       .art-subtitle {
//         color: #424242;
//         margin-top: 5px;
//         font-weight: 300;

//         @media screen and (max-width: 62rem) {
//           max-width: 300px;
//           font-size: 1rem;
//         }

//         @media screen and (max-width: 62rem) {
//           max-width: 300px;
//           font-size: 1rem;
//         }
//       }

//       .art-text {
//         margin: 0;
//         margin-top: 2.5rem;
//         grid-area: art-text;
//         text-align: justify;
//         font-size: 20px;
//         color: #424242;
//         max-width: 500px;

//         @media screen and (max-width: 1200px) {
//           font-size: 18px;
//         }

//         @media screen and (max-width: 62rem) {
//           font-size: 1rem;
//           margin-top: 20px;
//         }
//       }
//     }

//     .art-img {
//       width: 500px;
//       max-height: 615px;
//       border-radius: 20px;
//       justify-self: end;

//       @media screen and (max-width: 1200px) {
//         justify-self: center;
//         width: 400px;
//         max-height: 515px;
//       }

//       @media screen and (max-width: 62rem) {
//         justify-self: center;
//         width: 300px;
//         max-height: 415px;
//       }

//       @media screen and (max-width: 48rem) {
//         justify-self: center;
//         width: 200px;
//         max-height: 315px;
//       }
//     }
//   }
// }
// @media screen and (min-width: 62rem) {
//   .mau {
//     width: 0px;
//   }
// }
