.art-prop-group {
  display: grid;
  grid-template-areas:
    'art-index-1'
    'art-index-2';
  row-gap: 1.25rem;
  padding: 0 1.875rem;
  margin-bottom: 1.875rem;

  align-items: flex-start;

  @media (min-width: 48rem) {
    grid-template-areas: 'art-index-1 art-index-2';
    column-gap: 1.25rem;
  }

  @media (min-width: 62rem) {
    margin: 0 6.25rem;
    column-gap: 2.5rem;
    margin-bottom: 1.875rem;
  }
  .art-prop-1 {
    grid-area: art-index-1;
    display: grid;
    grid-template-areas:
      'art-img'
      'text-group';
    row-gap: 1.25rem;
    justify-items: center;
    max-width: 51.875rem;

    .art-img {
      grid-area: art-img;
      width: 50vw;
      height: 40vh;
      background-image: url('../public/cawslogo.jpeg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 1.25rem;
    }

    .text-prop-group {
      grid-area: text-group;
      display: grid;
      grid-template-areas:
        'art-title'
        'art-text';
      row-gap: 0.625rem;

      .art-title {
        grid-area: art-title;

        @media (min-width: 62rem) {
          font-size: 1.875rem;
          font-weight: 700;
        }
      }

      .art-text {
        grid-area: art-text;
        font-weight: 400;

        @media (min-width: 62rem) {
          font-size: 1.125rem;
        }
      }
    }
  }

  .art-prop-2 {
    grid-area: art-index-2;
    display: grid;
    grid-template-areas:
      'art-img'
      'text-group';
    row-gap: 1.25rem;
    justify-items: center;
    max-width: 51.875rem;

    .art-img {
      grid-area: art-img;
      width: 80vw;
      height: 35vh;
      background-image: url('../public/caws.jpeg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 1.25rem;
    }

    .text-prop-group {
      grid-area: text-group;
      display: grid;
      grid-template-areas:
        'art-title'
        'art-text';
      row-gap: 0.625rem;

      .art-title {
        grid-area: art-title;

        @media (min-width: 62rem) {
          font-size: 1.875rem;
          font-weight: 700;
        }
      }

      .art-text {
        grid-area: art-text;
        font-weight: 400;

        @media (min-width: 62rem) {
          font-size: 1.125rem;
        }
      }
    }
  }
}

// .art-prop-group {
//   display: grid;
//   grid-template-areas: 'art1 art2';

//   @media screen and (max-width: 62rem) {
//     grid-template-areas:
//       'art1'
//       'art2';
//   }

//   .art-prop-1 {
//     grid-area: art1;
//     display: grid;
//     margin-top: 2.5rem;
//     margin-left: 42px;
//     margin-right: 42px;
//     align-items: stretch;
//     column-gap: 1.25rem;

//     @media screen and (max-width: 1200px) {
//       column-gap: 5px;
//     }

//     @media screen and (max-width: 48rem) {
//       font-size: 1.875rem;
//     }

//     @media screen and (max-width: 576px) {
//       font-size: 25px;
//     }

//     .text-prop-group {
//       grid-area: text-group;

//       grid-template-areas:
//         'art-title'
//         'art-text';

//       .art-title {
//         grid-area: art-title;
//         margin: 0;
//         font-size: 2.5rem;
//         color: #424242;
//         font-weight: 700;

//         @media screen and (max-width: 1200px) {
//           font-size: 35px;
//         }

//         @media screen and (max-width: 48rem) {
//           font-size: 1.875rem;
//         }

//         @media screen and (max-width: 576px) {
//           font-size: 25px;
//           text-align: center;
//         }
//       }

//       .art-subtitle {
//         color: #424242;
//         font-weight: 300;
//         margin-top: 5px;
//       }

//       .art-text {
//         margin: 0;
//         margin-top: 2.5rem;
//         grid-area: art-text;
//         text-align: justify;
//         font-size: 1.25rem;
//         color: #424242;
//         max-width: 500px;

//         @media screen and (max-width: 1200px) {
//           font-size: 1.125rem;
//         }

//         @media screen and (max-width: 48rem) {
//           font-size: 16px;
//         }

//         @media screen and (max-width: 51.25rem) {
//           text-align: center;
//         }
//       }
//     }

//     .art-img {
//       width: 500px;
//       max-height: 615px;
//       border-radius: 1.25rem;
//       justify-self: start;
//     }
//   }
//   .art-prop-2 {
//     grid-area: art2;
//     display: grid;
//     margin-top: 2.5rem;
//     margin-left: 42px;
//     margin-right: 42px;
//     align-items: stretch;
//     column-gap: 1.25rem;

//     @media screen and (max-width: 1200px) {
//       column-gap: 5px;
//     }

//     @media screen and (max-width: 48rem) {
//       font-size: 1.875rem;
//     }

//     @media screen and (max-width: 576px) {
//       font-size: 25px;
//     }

//     .text-prop-group {
//       grid-area: text-group;

//       grid-template-areas:
//         'art-title'
//         'art-text';

//       .art-title {
//         grid-area: art-title;
//         margin: 0;
//         font-size: 2.5rem;
//         color: #424242;
//         font-weight: 700;

//         @media screen and (max-width: 1200px) {
//           font-size: 35px;
//         }

//         @media screen and (max-width: 48rem) {
//           font-size: 1.875rem;
//         }

//         @media screen and (max-width: 576px) {
//           font-size: 25px;
//           text-align: center;
//         }
//       }

//       .art-subtitle {
//         color: #424242;
//         font-weight: 300;
//         margin-top: 5px;
//       }

//       .art-text {
//         margin: 0;
//         margin-top: 2.5rem;
//         grid-area: art-text;
//         text-align: justify;
//         font-size: 1.25rem;
//         color: #424242;
//         max-width: 500px;

//         @media screen and (max-width: 1200px) {
//           font-size: 1.125rem;
//         }

//         @media screen and (max-width: 48rem) {
//           font-size: 16px;
//         }
//         @media screen and (max-width: 51.25rem) {
//           text-align: center;
//         }
//       }
//     }

//     .art-img {
//       width: 500px;
//       max-height: 615px;
//       border-radius: 1.25rem;
//       justify-self: start;
//     }
//   }
// }
