.art-prop-group {
  display: grid;
  grid-template-areas: 'art1 art2';

  @media screen and (max-width: 992px) {
    grid-template-areas:
      'art1'
      'art2';
  }

  .art-prop-1 {
    grid-area: art1;
    display: grid;
    margin-top: 40px;
    margin-left: 42px;
    margin-right: 42px;
    align-items: stretch;
    column-gap: 20px;

    @media screen and (max-width: 1200px) {
      column-gap: 5px;
    }

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }

    @media screen and (max-width: 576px) {
      font-size: 25px;
    }

    .text-prop-group {
      grid-area: text-group;

      grid-template-areas:
        'art-title'
        'art-text';

      .art-title {
        grid-area: art-title;
        margin: 0;
        font-size: 40px;
        color: #424242;
        font-weight: 700;

        @media screen and (max-width: 1200px) {
          font-size: 35px;
        }

        @media screen and (max-width: 768px) {
          font-size: 30px;
        }

        @media screen and (max-width: 576px) {
          font-size: 25px;
          text-align: center;
        }
      }

      .art-subtitle {
        color: #424242;
        font-weight: 300;
        margin-top: 5px;
      }

      .art-text {
        margin: 0;
        margin-top: 40px;
        grid-area: art-text;
        text-align: justify;
        font-size: 20px;
        color: #424242;
        max-width: 500px;

        @media screen and (max-width: 1200px) {
          font-size: 18px;
        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }

        @media screen and (max-width: 520px) {
          text-align: center;
        }
      }
    }

    .art-img {
      width: 500px;
      max-height: 615px;
      border-radius: 20px;
      justify-self: start;
    }
  }
  .art-prop-2 {
    grid-area: art2;
    display: grid;
    margin-top: 40px;
    margin-left: 42px;
    margin-right: 42px;
    align-items: stretch;
    column-gap: 20px;

    @media screen and (max-width: 1200px) {
      column-gap: 5px;
    }

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }

    @media screen and (max-width: 576px) {
      font-size: 25px;
    }

    .text-prop-group {
      grid-area: text-group;

      grid-template-areas:
        'art-title'
        'art-text';

      .art-title {
        grid-area: art-title;
        margin: 0;
        font-size: 40px;
        color: #424242;
        font-weight: 700;

        @media screen and (max-width: 1200px) {
          font-size: 35px;
        }

        @media screen and (max-width: 768px) {
          font-size: 30px;
        }

        @media screen and (max-width: 576px) {
          font-size: 25px;
          text-align: center;
        }
      }

      .art-subtitle {
        color: #424242;
        font-weight: 300;
        margin-top: 5px;
      }

      .art-text {
        margin: 0;
        margin-top: 40px;
        grid-area: art-text;
        text-align: justify;
        font-size: 20px;
        color: #424242;
        max-width: 500px;

        @media screen and (max-width: 1200px) {
          font-size: 18px;
        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
        @media screen and (max-width: 520px) {
          text-align: center;
        }
      }
    }

    .art-img {
      width: 500px;
      max-height: 615px;
      border-radius: 20px;
      justify-self: start;
    }
  }
}
